body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: maroon;
    color: white;
    padding: 0.5rem;
    text-align: left;
   
}
h2{
    margin-left: 415px;

}
nav {
    background-color: black;
    padding: 0.5rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.column {
    float: left;
    width: 30%;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }


footer {
    background-color: maroon;
    color: white;
    padding: 1rem;
    text-align: center;
}